.red{
    background-color: rgba(0, 0, 0, 0.854);
    color: aliceblue;
}



.blue{
    font-weight: bold;
    font-family: sans-serif;
    border: none;
    background-color: rgb(0, 76, 255);
    color: aliceblue;
}

.test{
    background-color: beige;
    border: none;
    font-size: 2rem;
   

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

